<nav class="navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/img/avatar1.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
          </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link active" aria-current="page" href="#">Administrador</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>